div.hasab {
    float: inherit;
    width:100%;
    overflow: auto;
    margin-left: 100;
    margin-right: 100;
}

div.hasab div {
    width: 33.3%;  
    float:left;
}

.topnav {
    float: left;
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 3.42em;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #4e4e4e;
    color: white;
}

.topnav a.active {
    background-color: rgb(0, 68, 124);
    color: rgb(126, 197, 255);
  }